@import "tailwindcss";

/* allow Tailwind .rounded-full to win */
.rounded-full {
  border-radius: 9999px !important;
}

.modal-backdrop.show {
  opacity: 0.5 !important; /* make background dim properly */
}

.modal {
  z-index: 2000 !important;
}

.modal-backdrop {
  z-index: 1500 !important;
}
